# pandas

In [1]:
# https://www.learndatasci.com/tutorials/python-pandas-tutorial-complete-introduction-for-beginners/

# https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html#min

In [2]:
import pandas as pd

In [3]:
GENE_QUANT_URL_FILE = 'ps2_gene_quant_URLs.tsv'
quant_urls_df = pd.read_csv(GENE_QUANT_URL_FILE, sep='\t')

In [4]:
quant_urls_df.head()

,accession,tissue,URL
0,ENCFF016CBS,omental fat pad,https://www.encodeproject.org/files/ENCFF016CB...
1,ENCFF365ZMW,sigmoid colon,https://www.encodeproject.org/files/ENCFF365ZM...
2,ENCFF408GFZ,subcutaneous adipose tissue,https://www.encodeproject.org/files/ENCFF408GF...
3,ENCFF505TUS,prostate gland,https://www.encodeproject.org/files/ENCFF505TU...
4,ENCFF633OSJ,suprapubic skin,https://www.encodeproject.org/files/ENCFF633OS...

In [5]:
GENE_QUANT_URL_FILE = 'ps2_gene_quant_URLs.tsv'
quant_urls_df = pd.read_csv(GENE_QUANT_URL_FILE, sep='\t', index_col ='accession')

In [6]:
quant_urls_df.head()

,tissue,URL
accession,,
ENCFF016CBS,omental fat pad,https://www.encodeproject.org/files/ENCFF016CB...
ENCFF365ZMW,sigmoid colon,https://www.encodeproject.org/files/ENCFF365ZM...
ENCFF408GFZ,subcutaneous adipose tissue,https://www.encodeproject.org/files/ENCFF408GF...
ENCFF505TUS,prostate gland,https://www.encodeproject.org/files/ENCFF505TU...
ENCFF633OSJ,suprapubic skin,https://www.encodeproject.org/files/ENCFF633OS...

In [7]:
GENCODE_FILE = 'gencode_ENCODE_names.tsv'
gencode_df = pd.read_csv(GENCODE_FILE, sep='\t', names=['gene_id', 'genename', 'biotype'])
gencode_df.head()

           gene_id      genename                             biotype
0  ENSG00000223972       DDX11L1  transcribed_unprocessed_pseudogene
1  ENSG00000227232        WASH7P              unprocessed_pseudogene
2  ENSG00000243485  RP11-34P13.3                             lincRNA
3  ENSG00000237613       FAM138A                             lincRNA
4  ENSG00000268020        OR4G4P              unprocessed_pseudogene

In [8]:
gencode_df.set_index('gene_id', inplace=True)
gencode_df.head()

                     genename                             biotype
gene_id
ENSG00000223972       DDX11L1  transcribed_unprocessed_pseudogene
ENSG00000227232        WASH7P              unprocessed_pseudogene
ENSG00000243485  RP11-34P13.3                             lincRNA
ENSG00000237613       FAM138A                             lincRNA
ENSG00000268020        OR4G4P              unprocessed_pseudogene

In [9]:
download_url = {}
for ind, row in quant_urls_df.iterrows():
    print( ind, row['URL'])
    download_url[ind] = row['URL']

ENCFF016CBS https://www.encodeproject.org/files/ENCFF016CBS/@@download/ENCFF016CBS.tsv
ENCFF365ZMW https://www.encodeproject.org/files/ENCFF365ZMW/@@download/ENCFF365ZMW.tsv
ENCFF408GFZ https://www.encodeproject.org/files/ENCFF408GFZ/@@download/ENCFF408GFZ.tsv
ENCFF505TUS https://www.encodeproject.org/files/ENCFF505TUS/@@download/ENCFF505TUS.tsv
ENCFF633OSJ https://www.encodeproject.org/files/ENCFF633OSJ/@@download/ENCFF633OSJ.tsv
ENCFF862LZL https://www.encodeproject.org/files/ENCFF862LZL/@@download/ENCFF862LZL.tsv
ENCFF863ERP https://www.encodeproject.org/files/ENCFF863ERP/@@download/ENCFF863ERP.tsv
ENCFF916ODF https://www.encodeproject.org/files/ENCFF916ODF/@@download/ENCFF916ODF.tsv
ENCFF918KPC https://www.encodeproject.org/files/ENCFF918KPC/@@download/ENCFF918KPC.tsv

In [10]:
download_url

{'ENCFF016CBS': 'https://www.encodeproject.org/files/ENCFF016CBS/@@download/ENCFF016CBS.tsv',
 'ENCFF365ZMW': 'https://www.encodeproject.org/files/ENCFF365ZMW/@@download/ENCFF365ZMW.tsv',
 'ENCFF408GFZ': 'https://www.encodeproject.org/files/ENCFF408GFZ/@@download/ENCFF408GFZ.tsv',
 'ENCFF505TUS': 'https://www.encodeproject.org/files/ENCFF505TUS/@@download/ENCFF505TUS.tsv',
 'ENCFF633OSJ': 'https://www.encodeproject.org/files/ENCFF633OSJ/@@download/ENCFF633OSJ.tsv',
 'ENCFF862LZL': 'https://www.encodeproject.org/files/ENCFF862LZL/@@download/ENCFF862LZL.tsv',
 'ENCFF863ERP': 'https://www.encodeproject.org/files/ENCFF863ERP/@@download/ENCFF863ERP.tsv',
 'ENCFF916ODF': 'https://www.encodeproject.org/files/ENCFF916ODF/@@download/ENCFF916ODF.tsv',
 'ENCFF918KPC': 'https://www.encodeproject.org/files/ENCFF918KPC/@@download/ENCFF918KPC.tsv'}

In [11]:
df_names = []
merge_df = pd.DataFrame()

for acc in download_url:
    df_name = acc + '_df'
    exec(df_name + '= pd.read_csv(download_url[acc], sep=\'\t\')')
    df_names.append(df_name)
    print(df_name)

ENCFF016CBS_df
ENCFF365ZMW_df
ENCFF408GFZ_df
ENCFF505TUS_df
ENCFF633OSJ_df
ENCFF862LZL_df
ENCFF863ERP_df
ENCFF916ODF_df
ENCFF918KPC_df

In [12]:
ENCFF863ERP_df.head()

,gene_id,transcript_id(s),length,effective_length,expected_count,TPM,FPKM,posterior_mean_count,posterior_standard_deviation_of_count,pme_TPM,pme_FPKM,TPM_ci_lower_bound,TPM_ci_upper_bound,FPKM_ci_lower_bound,FPKM_ci_upper_bound
0,10904,10904,93.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,12954,12954,94.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,12956,12956,72.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,12958,12958,82.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,12960,12960,73.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
URL1 = 'https://www.encodeproject.org/files/ENCFF016CBS/@@download/ENCFF016CBS.tsv'
df1 = pd.read_csv(URL1, sep='\t')
df1.head()

,gene_id,transcript_id(s),length,effective_length,expected_count,TPM,FPKM,posterior_mean_count,posterior_standard_deviation_of_count,pme_TPM,pme_FPKM,TPM_ci_lower_bound,TPM_ci_upper_bound,FPKM_ci_lower_bound,FPKM_ci_upper_bound
0,10904,10904,93.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,12954,12954,94.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,12956,12956,72.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,12958,12958,82.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,12960,12960,73.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
URL2 = 'https://www.encodeproject.org/files/ENCFF505TUS/@@download/ENCFF505TUS.tsv'
df2 = pd.read_csv(URL2, sep='\t')
df2.head()

,gene_id,transcript_id(s),length,effective_length,expected_count,TPM,FPKM,posterior_mean_count,posterior_standard_deviation_of_count,pme_TPM,pme_FPKM,TPM_ci_lower_bound,TPM_ci_upper_bound,FPKM_ci_lower_bound,FPKM_ci_upper_bound
0,10904,10904,93.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,12954,12954,94.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,12956,12956,72.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,12958,12958,82.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,12960,12960,73.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
columns1 = df1.columns
values1 = df1.values

In [16]:
df1.describe()

,length,effective_length,expected_count,TPM,FPKM,posterior_mean_count,posterior_standard_deviation_of_count,pme_TPM,pme_FPKM,TPM_ci_lower_bound,TPM_ci_upper_bound,FPKM_ci_lower_bound,FPKM_ci_upper_bound
count,61471.000000,61471.000000,6.147100e+04,61471.000000,61471.000000,6.147100e+04,61471.000000,61471.000000,61471.000000,6.147100e+04,61471.000000,6.147100e+04,61471.000000
mean,1315.659800,1062.934544,4.404545e+02,16.267832,38.077220,4.404546e+02,0.331664,16.267841,38.892389,1.569482e+01,17.171265,3.753094e+01,41.061017
std,1878.219009,1857.487157,5.197158e+04,1830.063241,4283.527943,5.197158e+04,17.364731,1779.282575,4253.830819,1.774918e+03,1783.620169,4.243368e+03,4266.107921
min,8.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000
25%,336.000000,51.820000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.020000,0.040000,1.789360e-07,0.052664,4.299170e-07,0.125895
50%,742.000000,455.110000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.100000,0.230000,7.436910e-06,0.247607,1.784000e-05,0.592099
75%,1756.040000,1469.345000,1.100000e+01,0.170000,0.390000,1.100000e+01,0.000000,0.800000,1.905000,1.365225e-01,1.411980,3.273220e-01,3.377220
max,205012.000000,204725.100000,1.192030e+07,353654.760000,827780.170000,1.192030e+07,2548.540000,343846.580000,822053.340000,3.430800e+05,344618.000000,8.199250e+05,824490.000000

In [17]:
df2.describe()

,length,effective_length,expected_count,TPM,FPKM,posterior_mean_count,posterior_standard_deviation_of_count,pme_TPM,pme_FPKM,TPM_ci_lower_bound,TPM_ci_upper_bound,FPKM_ci_lower_bound,FPKM_ci_upper_bound
count,61471.000000,61471.000000,6.147100e+04,61471.000000,61471.000000,6.147100e+04,61471.000000,61471.000000,61471.000000,6.147100e+04,61471.000000,6.147100e+04,61471.000000
mean,1322.026483,1065.230590,3.305656e+02,16.267842,31.358201,3.305656e+02,0.367656,16.267866,32.686837,1.519174e+01,17.927774,3.052582e+01,36.032328
std,1872.520320,1850.838273,1.569337e+04,1728.157892,3331.229994,1.569337e+04,4.923568,1642.570499,3300.401927,1.637130e+03,1648.127813,3.288299e+03,3313.671725
min,8.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000
25%,336.000000,47.530000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.040000,0.080000,4.170030e-07,0.112121,8.359985e-07,0.225333
50%,741.000000,448.720000,0.000000e+00,0.000000,0.000000,0.000000e+00,0.000000,0.220000,0.450000,4.402850e-05,0.519989,8.743650e-05,1.044810
75%,1791.985000,1499.675000,4.394000e+01,0.880000,1.690000,4.400000e+01,0.000000,2.250000,4.530000,6.517735e-01,3.774325,1.309715e+00,7.587985
max,205012.000000,204719.690000,3.650733e+06,390196.490000,752150.170000,3.650733e+06,605.030000,370876.380000,745198.530000,3.698260e+05,371951.000000,7.427150e+05,747914.000000

In [18]:
df2['TPM'].describe()

count     61471.000000
mean         16.267842
std        1728.157892
min           0.000000
25%           0.000000
50%           0.000000
75%           0.880000
max      390196.490000
Name: TPM, dtype: float64

In [19]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61471 entries, 0 to 61470
Data columns (total 15 columns):
gene_id                                  61471 non-null object
transcript_id(s)                         61471 non-null object
length                                   61471 non-null float64
effective_length                         61471 non-null float64
expected_count                           61471 non-null float64
TPM                                      61471 non-null float64
FPKM                                     61471 non-null float64
posterior_mean_count                     61471 non-null float64
posterior_standard_deviation_of_count    61471 non-null float64
pme_TPM                                  61471 non-null float64
pme_FPKM                                 61471 non-null float64
TPM_ci_lower_bound                       61471 non-null float64
TPM_ci_upper_bound                       61471 non-null float64
FPKM_ci_lower_bound                      61471 non-null float64
FPKM_ci_upper_bound                      61471 non-null float64
dtypes: float64(13), object(2)
memory usage: 7.0+ MB

In [20]:
list(df1.columns)

['gene_id',
 'transcript_id(s)',
 'length',
 'effective_length',
 'expected_count',
 'TPM',
 'FPKM',
 'posterior_mean_count',
 'posterior_standard_deviation_of_count',
 'pme_TPM',
 'pme_FPKM',
 'TPM_ci_lower_bound',
 'TPM_ci_upper_bound',
 'FPKM_ci_lower_bound',
 'FPKM_ci_upper_bound']

In [21]:
df1_1 = df1[['length', 'effective_length', 'expected_count', 'gene_id', 'transcript_id(s)', 'TPM']]

In [22]:
df1_1.head()

   length  effective_length  expected_count gene_id transcript_id(s)  TPM
0    93.0               0.0             0.0   10904            10904  0.0
1    94.0               0.0             0.0   12954            12954  0.0
2    72.0               0.0             0.0   12956            12956  0.0
3    82.0               0.0             0.0   12958            12958  0.0
4    73.0               0.0             0.0   12960            12960  0.0

In [23]:
df1_1.tail()

,length,effective_length,expected_count,gene_id,transcript_id(s),TPM
61466,872.0,585.10,163.0,gSpikein_ERCC-00165,tSpikein_ERCC-00165,4.40
61467,1024.0,737.10,1.0,gSpikein_ERCC-00168,tSpikein_ERCC-00168,0.02
61468,1023.0,736.10,38.0,gSpikein_ERCC-00170,tSpikein_ERCC-00170,0.81
61469,505.0,218.17,4046.0,gSpikein_ERCC-00171,tSpikein_ERCC-00171,292.64
61470,5386.0,5099.10,610139.0,gSpikein_phiX174,tSpikein_phiX174,1888.17

In [24]:
df1_1['gene_id'].str.startswith('ENGS')

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
61441    False
61442    False
61443    False
61444    False
61445    False
61446    False
61447    False
61448    False
61449    False
61450    False
61451    False
61452    False
61453    False
61454    False
61455    False
61456    False
61457    False
61458    False
61459    False
61460    False
61461    False
61462    False
61463    False
61464    False
61465    False
61466    False
61467    False
61468    False
61469    False
61470    False
Name: gene_id, Length: 61471, dtype: bool

In [25]:
df1_2 = df1_1[(df1_1.TPM > 0.5) & (df1_1.gene_id.str.startswith('ENSG'))]

df1_2.info()
df1_2.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12078 entries, 649 to 61285
Data columns (total 6 columns):
length              12078 non-null float64
effective_length    12078 non-null float64
expected_count      12078 non-null float64
gene_id             12078 non-null object
transcript_id(s)    12078 non-null object
TPM                 12078 non-null float64
dtypes: float64(4), object(2)
memory usage: 660.5+ KB

,length,effective_length,expected_count,gene_id,transcript_id(s),TPM
649,2153.03,1866.13,418.0,ENSG00000000003.14,"ENST00000373020.8,ENST00000494424.1,ENST000004...",3.53
650,959.57,672.69,53.0,ENSG00000000005.5,"ENST00000373031.4,ENST00000485971.1",1.24
651,1077.13,790.24,131.0,ENSG00000000419.12,"ENST00000371582.8,ENST00000371584.8,ENST000003...",2.62
652,3382.29,3095.39,215.0,ENSG00000000457.13,"ENST00000367770.5,ENST00000367771.10,ENST00000...",1.10
653,1957.79,1670.89,80.0,ENSG00000000460.16,"ENST00000286031.10,ENST00000359326.8,ENST00000...",0.76

In [26]:
df1_2 = df1_2.drop(columns=['length', 'effective_length', 'expected_count'])

In [27]:
df1_2.head()

,gene_id,transcript_id(s),TPM
649,ENSG00000000003.14,"ENST00000373020.8,ENST00000494424.1,ENST000004...",3.53
650,ENSG00000000005.5,"ENST00000373031.4,ENST00000485971.1",1.24
651,ENSG00000000419.12,"ENST00000371582.8,ENST00000371584.8,ENST000003...",2.62
652,ENSG00000000457.13,"ENST00000367770.5,ENST00000367771.10,ENST00000...",1.10
653,ENSG00000000460.16,"ENST00000286031.10,ENST00000359326.8,ENST00000...",0.76

In [28]:
df1_2.loc[df1_2['gene_id'] == 'ENSG00000000419.12']

,gene_id,transcript_id(s),TPM
651,ENSG00000000419.12,"ENST00000371582.8,ENST00000371584.8,ENST000003...",2.62

In [29]:
interesting_genes = ['ENSG00000000457.13', 'ENSG00000000460.16', 'ENSG00000000005.5']
df1_2[df1_2.gene_id.isin(interesting_genes)]

,gene_id,transcript_id(s),TPM
650,ENSG00000000005.5,"ENST00000373031.4,ENST00000485971.1",1.24
652,ENSG00000000457.13,"ENST00000367770.5,ENST00000367771.10,ENST00000...",1.10
653,ENSG00000000460.16,"ENST00000286031.10,ENST00000359326.8,ENST00000...",0.76

In [30]:
# get the max and min TPM
print('max TPM:', df1_2['TPM'].max(), '\nmin TPM:', df1_2['TPM'].min())

max TPM: 353654.76
min TPM: 0.51

In [31]:
list(df1_2.columns)

['gene_id', 'transcript_id(s)', 'TPM']

In [32]:
df2_1 = df2[['gene_id', 'transcript_id(s)', 'TPM']]

In [33]:
df2_2 = df2_1[(df2_1.TPM > 0.5) & (df2_1.gene_id.str.startswith('ENSG'))]
df2_2.head()

,gene_id,transcript_id(s),TPM
649,ENSG00000000003.14,"ENST00000373020.8,ENST00000494424.1,ENST000004...",6.16
651,ENSG00000000419.12,"ENST00000371582.8,ENST00000371584.8,ENST000003...",5.60
652,ENSG00000000457.13,"ENST00000367770.5,ENST00000367771.10,ENST00000...",2.80
653,ENSG00000000460.16,"ENST00000286031.10,ENST00000359326.8,ENST00000...",2.05
654,ENSG00000000938.12,"ENST00000374003.7,ENST00000374004.5,ENST000003...",1.92

In [34]:
# get the max and min TPM
print('max TPM:', df2_2['TPM'].max(), '\nmin TPM:', df2_2['TPM'].min())

max TPM: 390196.49
min TPM: 0.51

In [35]:
merge_df = pd.merge(df1_2, df2_2, on='gene_id', how='inner') # intersection -- default
merge2_df = pd.merge(df1_2, df2_2, on='gene_id', how='outer') # union

In [36]:
merge_df.head()

,gene_id,transcript_id(s)_x,TPM_x,transcript_id(s)_y,TPM_y
0,ENSG00000000003.14,"ENST00000373020.8,ENST00000494424.1,ENST000004...",3.53,"ENST00000373020.8,ENST00000494424.1,ENST000004...",6.16
1,ENSG00000000419.12,"ENST00000371582.8,ENST00000371584.8,ENST000003...",2.62,"ENST00000371582.8,ENST00000371584.8,ENST000003...",5.60
2,ENSG00000000457.13,"ENST00000367770.5,ENST00000367771.10,ENST00000...",1.10,"ENST00000367770.5,ENST00000367771.10,ENST00000...",2.80
3,ENSG00000000460.16,"ENST00000286031.10,ENST00000359326.8,ENST00000...",0.76,"ENST00000286031.10,ENST00000359326.8,ENST00000...",2.05
4,ENSG00000000938.12,"ENST00000374003.7,ENST00000374004.5,ENST000003...",7.05,"ENST00000374003.7,ENST00000374004.5,ENST000003...",1.92

In [37]:
merge2_df.head()

,gene_id,transcript_id(s)_x,TPM_x,transcript_id(s)_y,TPM_y
0,ENSG00000000003.14,"ENST00000373020.8,ENST00000494424.1,ENST000004...",3.53,"ENST00000373020.8,ENST00000494424.1,ENST000004...",6.16
1,ENSG00000000005.5,"ENST00000373031.4,ENST00000485971.1",1.24,NaN,NaN
2,ENSG00000000419.12,"ENST00000371582.8,ENST00000371584.8,ENST000003...",2.62,"ENST00000371582.8,ENST00000371584.8,ENST000003...",5.60
3,ENSG00000000457.13,"ENST00000367770.5,ENST00000367771.10,ENST00000...",1.10,"ENST00000367770.5,ENST00000367771.10,ENST00000...",2.80
4,ENSG00000000460.16,"ENST00000286031.10,ENST00000359326.8,ENST00000...",0.76,"ENST00000286031.10,ENST00000359326.8,ENST00000...",2.05

In [38]:
merge_df.describe()

               TPM_x          TPM_y
count   11537.000000   11537.000000
mean       85.686451      83.182544
std      4223.623345    3988.095692
min         0.510000       0.510000
25%         1.210000       3.600000
50%         2.280000       7.120000
75%         4.560000      14.310000
max    353654.760000  390196.490000

In [39]:
merge_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11537 entries, 0 to 11536
Data columns (total 5 columns):
gene_id               11537 non-null object
transcript_id(s)_x    11537 non-null object
TPM_x                 11537 non-null float64
transcript_id(s)_y    11537 non-null object
TPM_y                 11537 non-null float64
dtypes: float64(2), object(3)
memory usage: 540.8+ KB

In [40]:
# merge_df[merge_df.gene_id.isin(interesting_genes)]

In [41]:
cutoff = 500

merge_df2 = merge_df
find_df = merge_df[(merge_df.TPM_x > cutoff)]

In [42]:
find_df

,gene_id,transcript_id(s)_x,TPM_x,transcript_id(s)_y,TPM_y
1229,ENSG00000087086.13,"ENST00000331825.10,ENST00000622577.2",574.86,"ENST00000331825.10,ENST00000622577.2",375.52
5868,ENSG00000147403.16,"ENST00000344746.8,ENST00000369817.6,ENST000004...",518.99,"ENST00000344746.8,ENST00000369817.6,ENST000004...",654.39
6469,ENSG00000156508.17,"ENST00000309268.10,ENST00000316292.13,ENST0000...",680.01,"ENST00000309268.10,ENST00000316292.13,ENST0000...",1144.77
7515,ENSG00000166710.17,"ENST00000349264.10,ENST00000544417.5,ENST00000...",557.00,"ENST00000349264.10,ENST00000544417.5,ENST00000...",518.70
8001,ENSG00000170323.8,"ENST00000256104.4,ENST00000518669.5,ENST000005...",681.96,"ENST00000256104.4,ENST00000518669.5,ENST000005...",0.64
9996,ENSG00000198712.1,ENST00000361739.1,612.81,ENST00000361739.1,539.88
10023,ENSG00000198804.2,ENST00000361624.2,1834.87,ENST00000361624.2,2634.96
10058,ENSG00000198899.2,ENST00000361899.2,732.60,ENST00000361899.2,612.93
10072,ENSG00000198938.2,ENST00000362079.2,1533.72,ENST00000362079.2,1978.67
10082,ENSG00000200087.1,ENST00000363217.1,642.93,ENST00000363217.1,3472.46
10083,ENSG00000202198.1,ENST00000365328.1,58951.03,ENST00000365328.1,65452.93
10282,ENSG00000210082.2,ENST00000387347.2,147867.11,ENST00000387347.2,73588.44
10287,ENSG00000211459.2,ENST00000389680.2,113737.25,ENST00000389680.2,46874.36
10301,ENSG00000212232.1,ENST00000390930.1,602.80,ENST00000390930.1,403.49
10305,ENSG00000212907.2,ENST00000361335.1,674.48,ENST00000361335.1,1124.01
10362,ENSG00000213741.8,"ENST00000245458.10,ENST00000396020.7,ENST00000...",534.59,"ENST00000245458.10,ENST00000396020.7,ENST00000...",865.86
10583,ENSG00000228253.1,ENST00000361851.1,1863.28,ENST00000361851.1,2118.45
10741,ENSG00000238741.1,ENST00000458797.1,1043.90,ENST00000458797.1,987.24
10972,ENSG00000251562.7,"ENST00000508832.2,ENST00000534336.1,ENST000005...",1198.83,"ENST00000508832.2,ENST00000534336.1,ENST000005...",1607.65
11198,ENSG00000263934.4,"ENST00000584923.1,ENST00000620232.1,ENST000006...",5098.19,"ENST00000584923.1,ENST00000620232.1,ENST000006...",2241.44
11369,ENSG00000274012.1,ENST00000490232.3,353654.76,ENST00000490232.3,390196.49
11374,ENSG00000274266.1,ENST00000364938.1,1721.05,ENST00000364938.1,7980.19
11415,ENSG00000276168.1,ENST00000618786.1,205589.49,ENST00000618786.1,135418.43
11436,ENSG00000277027.1,ENST00000363046.1,4982.75,ENST00000363046.1,26314.96
11445,ENSG00000277209.1,ENST00000516869.1,13572.99,ENST00000516869.1,15315.28
11461,ENSG00000278249.1,ENST00000458748.1,1197.97,ENST00000458748.1,1787.39

In [ ]:
merge_df2 = merge_df[(merge_df.TPM_x < cutoff) & (merge_df.TPM_y < cutoff)]

merge_df2.plot(kind='scatter', x='TPM_x', y='TPM_y', title='ENCFF016CBS vs ENCFF505TUS');

In [ ]:
x_values = list(merge_df2['TPM_x'])
y_values = list(merge_df2['TPM_y'])

In [ ]:
import math

x_plot = []
y_plot = []
colors = []
    
for x in range(len(x_values)):
    if math.log10(x_values[x] / y_values[x]) > 0 or math.log10(y_values[x] / x_values[x]) > 0:
        x_plot.append(x_values[x])
        y_plot.append(y_values[x])
        
        if (x_values[x] / y_values[x]) > 2.0 or (y_values[x] / x_values[x]) > 2.0:
            colors.append('red')
        else:
            colors.append('purple')

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
s = 2
fig, ax = plt.subplots()
im = ax.scatter(x_plot, y_plot, c=colors, s=s)

plt.xscale('log')
plt.yscale('log')

x_label = 'ENCFF016CBS'
y_label = 'ENCFF505TUS'

plt.title( x_label + ' vs ' + y_label )
plt.grid(True)

plt.xlabel(tissue[x_label] + '  (TPM)')
plt.ylabel(tissue[y_label] + ' (TPM)')

plt.axis([1, cutoff, 1, cutoff])
plt.show()